<main class="h-[50vh] flex flex-col gap-y-4 justify-center items-center">
  <h1 class="text-4xl">Create Your Wishlist</h1>
  <a href="/wishlist" class="py-2 px-4 bg-black text-white hover:bg-zinc-500">
    START
  </a>
</main>
